Repository failed-successfully/ngx-darkbox-gallery-library, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, demo, test, documentation, lib

fix: Use different names for artifact uploada on matrix deploaments
  .github/workflows/node.js.yml
Labels: CI/CD

chore: use node 20 for releases
  .github/workflows/publish-next.yml
  .github/workflows/publish.yml
Labels: CI/CD

chore: Build also on node 22 on push
  .github/workflows/node.js.yml
Labels: CI/CD

fix: Use different names for artifact uploada on matrix deploaments
  .github/workflows/node.js.yml
Labels: CI/CD

chore: Build also on node 22 on push
  .github/workflows/node.js.yml
Labels: CI/CD

chore: use node 20 for releases
  .github/workflows/publish-next.yml
  .github/workflows/publish.yml
Labels: CI/CD

chore: Prepare for release 2.0.2
  CHANGELOG.md
Labels: documentation

deploy: e4483310e4ed72639e853460d96ac578757086fc
  3rdpartylicenses.txt
  index.html
  main.js
  polyfills.js
  runtime.js
  styles.css
Labels: none

fix: Set correkt version for npm
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/package-lock.json
  projects/ngx-darkbox-gallery/package.json
Labels: lib

feat: Add angular 18 support
  projects/ngx-darkbox-gallery/package.json
Labels: lib

feat: Update angular to 18
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  tsconfig.json
Labels: demo

feat: Update angular material to 18
  package-lock.json
  package.json
  src/styles.scss
Labels: demo

chore: Update dependencies
  package-lock.json
  package.json
Labels: none

feat: Prepare for release of version 2.1.0
  CHANGELOG.md
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/package-lock.json
  projects/ngx-darkbox-gallery/package.json
Labels: documentation, lib

fix: Dependency issues
  .github/workflows/build-release.yml
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
Labels: CI/CD

docs: Use correct reference in changelog
  CHANGELOG.md
Labels: documentation

fix: Use different confilict resolution strategy
  .github/workflows/build-release.yml
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
  package-lock.json
Labels: CI/CD

docs: Use correct reference in changelog
  CHANGELOG.md
Labels: documentation

feat: Add angular 18 support
  projects/ngx-darkbox-gallery/package.json
Labels: lib

feat: Update angular to 18
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  tsconfig.json
Labels: demo

feat: Prepare for release of version 2.1.0
  CHANGELOG.md
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/package-lock.json
  projects/ngx-darkbox-gallery/package.json
Labels: documentation, lib

feat: Update angular material to 18
  package-lock.json
  package.json
  src/styles.scss
Labels: demo

fix: Dependency issues
  .github/workflows/build-release.yml
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
Labels: CI/CD

chore: Update dependencies
  package-lock.json
  package.json
Labels: none

fix: Use different confilict resolution strategy
  .github/workflows/build-release.yml
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
  package-lock.json
Labels: CI/CD

chore: Remove obsolete protractor
  package-lock.json
  package.json
Labels: none

deploy: d0fcf894fcc5a939abd43ce742940bd093ca86c8
  3rdpartylicenses.txt
  browser/assets/darkbox-icon.svg
  browser/assets/darkbox-icon128.png
  browser/assets/darkbox-icon256.png
  browser/assets/darkbox-icon512.png
  browser/assets/darkbox-icon64.png
  browser/assets/github-icon.svg
  browser/assets/npm-icon.svg
  browser/favicon.ico
  browser/index.html
  browser/main.js
  browser/polyfills.js
  browser/styles.css
Labels: none

fix: Dependency resolution
  package-lock.json
Labels: none

fix: Dependency resolution
  package-lock.json
Labels: none

fix: Use correct dependency version for the demo
  package-lock.json
Labels: none

fix: Use correct dependency version for the demo
  package-lock.json
Labels: none

feat: Change node version to 22 for release pipeline
  .github/workflows/build-release.yml
Labels: CI/CD

docs: Add changelog entry
  CHANGELOG.md
Labels: documentation

feat: Change node version to 22 for release pipeline
  .github/workflows/build-release.yml
Labels: CI/CD

docs: Add changelog entry
  CHANGELOG.md
Labels: documentation

chore: Update angular to 19
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/src/lib/components/darkbox/darkbox.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/dot/dot.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/flex-ring/flex-ring.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/loading-animation.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/svg-loader/svg-loader.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-placeholder/loading-placeholder.component.ts
  projects/ngx-darkbox-gallery/src/lib/directives/touchable/touchable.directive.ts
  projects/ngx-darkbox-gallery/src/lib/ngx-darkbox-gallery.component.ts
  src/app/app.component.ts
  src/app/components/configuration-editor/configuration-editor.component.ts
  src/app/components/dark-mode-switch/dark-mode-switch.component.ts
  src/app/components/footer/footer.component.ts
Labels: demo, lib

chore: Update non-major dependencies
  package-lock.json
  package.json
Labels: none

feat: Migrate to standalone components
  projects/ngx-darkbox-gallery/src/lib/components/darkbox/darkbox.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/dot/dot.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/flex-ring/flex-ring.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/loading-animation.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/svg-loader/svg-loader.component.spec.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/svg-loader/svg-loader.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-placeholder/loading-placeholder.component.ts
  projects/ngx-darkbox-gallery/src/lib/directives/touchable/touchable.directive.ts
  projects/ngx-darkbox-gallery/src/lib/ngx-darkbox-gallery.component.ts
  projects/ngx-darkbox-gallery/src/lib/ngx-darkbox-gallery.module.ts
  projects/ngx-darkbox-gallery/src/public-api.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/configuration-editor/configuration-editor.component.spec.ts
  src/app/components/configuration-editor/configuration-editor.component.ts
  src/app/components/dark-mode-switch/dark-mode-switch.component.ts
  src/app/components/footer/footer.component.spec.ts
  src/app/components/footer/footer.component.ts
  src/main.ts
Labels: demo, test, lib

feat: Add support for angular 19
  projects/ngx-darkbox-gallery/package.json
Labels: lib

docs: Include new library inclusion in the docs
  CHANGELOG.md
  README.md
  docs/examples/advanced-configuration-example.md
Labels: documentation

.github/labeler.yml:

CI/CD:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/*
demo:
  - changed-files:
    - any-glob-to-any-file:
      - src/*
      - src/**/*
test: 
  - changed-files:
    - any-glob-to-any-file: projects/ngx-darkbox-gallery/**/*.spec.ts
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/*
      - README.md
      - CHANGELOG.md
lib:
  - changed-files:
    - any-glob-to-any-file:
      - projects/ngx-darkbox-gallery/*
      - projects/ngx-darkbox-gallery/**/*
