Repository failed-successfully/ngx-darkbox-gallery-library, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, demo, test, documentation, lib

.github/labeler.yml:

CI/CD:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/*
demo:
  - changed-files:
    - any-glob-to-any-file:
      - src/*
      - src/**/*
test: 
  - changed-files:
    - any-glob-to-any-file: projects/ngx-darkbox-gallery/**/*.spec.ts
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/*
      - README.md
      - CHANGELOG.md
lib:
  - changed-files:
    - any-glob-to-any-file:
      - projects/ngx-darkbox-gallery/*
      - projects/ngx-darkbox-gallery/**/*

fix: Use download artifact instead of checkout
  .github/workflows/build-release.yml
Labels: CI/CD

docs: Fix typo in changelog
  CHANGELOG.md
Labels: documentation

fix: Path to pages artifacts
  .github/workflows/build-release.yml
Labels: CI/CD

fix: Use correct artifact name
  .github/workflows/build-release.yml
Labels: CI/CD

fix: Set permissions for publishing to npm
  .github/workflows/npm-publish.yml
Labels: CI/CD

fix: Angular compile error
  tsconfig.json
Labels: none

fix: Npm repository url
  package.json
Labels: none

fix: Add npm update on publishing
  .github/workflows/npm-publish.yml
Labels: CI/CD

feat: Update angular to 21
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/tsconfig.lib.json
  src/main.ts
  tsconfig.json
Labels: demo, lib

feat: Upgrade materlial to 21
  package-lock.json
  package.json
Labels: none

feat: Update dependencies
  package-lock.json
  package.json
Labels: none

feat: Prepare for release 5.0.0
  CHANGELOG.md
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/package-lock.json
  projects/ngx-darkbox-gallery/package.json
Labels: documentation, lib

fix: Downgrade some deps
  package-lock.json
  package.json
Labels: none

feat: Update node version to 24 in pipeline
  .github/workflows/build-release.yml
  .github/workflows/publish-next.yml
  .github/workflows/publish.yml
Labels: CI/CD

fix: Use npm i as a workaround in pipeline
  .github/workflows/build-release.yml
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
Labels: CI/CD

feat: Prepare for release 5.0.0
  CHANGELOG.md
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/package-lock.json
  projects/ngx-darkbox-gallery/package.json
Labels: documentation, lib

feat: Update dependencies
  package-lock.json
  package.json
Labels: none

fix: Use npm i as a workaround in pipeline
  .github/workflows/build-release.yml
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
Labels: CI/CD

feat: Update node version to 24 in pipeline
  .github/workflows/build-release.yml
  .github/workflows/publish-next.yml
  .github/workflows/publish.yml
Labels: CI/CD

feat: Update angular to 21
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/tsconfig.lib.json
  src/main.ts
  tsconfig.json
Labels: demo, lib

feat: Upgrade materlial to 21
  package-lock.json
  package.json
Labels: none

fix: Downgrade some deps
  package-lock.json
  package.json
Labels: none

docs: Update minimum required angular version
  README.md
Labels: documentation

chore: Update dependencies
  package-lock.json
  package.json
Labels: none

docs: Prepare changelog for maintenance release
  CHANGELOG.md
Labels: documentation

docs: Prepare changelog for maintenance release
  CHANGELOG.md
Labels: documentation

chore: Update dependencies
  package-lock.json
  package.json
Labels: none

chore: Update package version
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/package-lock.json
  projects/ngx-darkbox-gallery/package.json
Labels: lib

chore: Prepare for angular 22 migration
  tsconfig.json
Labels: none

chore: Remove deprecated keyboard navigation binding
  CHANGELOG.md
  projects/ngx-darkbox-gallery/src/lib/components/darkbox/darkbox.component.ts
Labels: documentation, lib

chore: Convert image class to an interface
  CHANGELOG.md
  projects/ngx-darkbox-gallery/src/lib/model/image.ts
Labels: documentation, lib
