Repository failed-successfully/ngx-darkbox-gallery-library, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, demo, test, documentation, lib

chore: Update version to 3.0.0
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/package-lock.json
  projects/ngx-darkbox-gallery/package.json
Labels: lib

chore: Update non-major dependencies
  package-lock.json
  package.json
Labels: none

feat: Add support for angular 19
  projects/ngx-darkbox-gallery/package.json
Labels: lib

docs: Include new library inclusion in the docs
  CHANGELOG.md
  README.md
  docs/examples/advanced-configuration-example.md
Labels: documentation

chore: Update version to 3.0.0
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/package-lock.json
  projects/ngx-darkbox-gallery/package.json
Labels: lib

chore: Update angular to 19
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/src/lib/components/darkbox/darkbox.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/dot/dot.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/flex-ring/flex-ring.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/loading-animation.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/svg-loader/svg-loader.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-placeholder/loading-placeholder.component.ts
  projects/ngx-darkbox-gallery/src/lib/directives/touchable/touchable.directive.ts
  projects/ngx-darkbox-gallery/src/lib/ngx-darkbox-gallery.component.ts
  src/app/app.component.ts
  src/app/components/configuration-editor/configuration-editor.component.ts
  src/app/components/dark-mode-switch/dark-mode-switch.component.ts
  src/app/components/footer/footer.component.ts
Labels: demo, lib

feat: Migrate to standalone components
  projects/ngx-darkbox-gallery/src/lib/components/darkbox/darkbox.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/dot/dot.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/flex-ring/flex-ring.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/loading-animation.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/svg-loader/svg-loader.component.spec.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/svg-loader/svg-loader.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-placeholder/loading-placeholder.component.ts
  projects/ngx-darkbox-gallery/src/lib/directives/touchable/touchable.directive.ts
  projects/ngx-darkbox-gallery/src/lib/ngx-darkbox-gallery.component.ts
  projects/ngx-darkbox-gallery/src/lib/ngx-darkbox-gallery.module.ts
  projects/ngx-darkbox-gallery/src/public-api.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/configuration-editor/configuration-editor.component.spec.ts
  src/app/components/configuration-editor/configuration-editor.component.ts
  src/app/components/dark-mode-switch/dark-mode-switch.component.ts
  src/app/components/footer/footer.component.spec.ts
  src/app/components/footer/footer.component.ts
  src/main.ts
Labels: demo, test, lib

deploy: 50b2b9a9e50f74d7de73d522d5d292bd2f85b5ec
  3rdpartylicenses.txt
  browser/index.html
  browser/main.js
  browser/polyfills.js
  browser/styles.css
  prerendered-routes.json
Labels: none

focs: Fix formatting in CHANGELOG
  CHANGELOG.md
Labels: documentation

feat: Update perDependencies to allow angular 20
  projects/ngx-darkbox-gallery/package.json
Labels: lib

docs: Prepare for release 4.0.0
  CHANGELOG.md
Labels: documentation

feat: Update angular to 20
  angular.json
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/src/lib/components/darkbox/darkbox.component.html
  projects/ngx-darkbox-gallery/src/lib/components/darkbox/darkbox.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/dot/dot.component.html
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/dot/dot.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/loading-animation.component.html
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/loading-animation.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/svg-loader/svg-loader.component.html
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/svg-loader/svg-loader.component.ts
  projects/ngx-darkbox-gallery/src/lib/ngx-darkbox-gallery.component.html
  projects/ngx-darkbox-gallery/src/lib/ngx-darkbox-gallery.component.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/configuration-editor/configuration-editor.component.html
  src/app/components/configuration-editor/configuration-editor.component.ts
  tsconfig.json
Labels: demo, lib

chore: Update dependencies
  src/app/components/configuration-editor/configuration-editor.component.ts
  src/main.ts
Labels: demo

docs: Simplifiy component call to selfclosing tags
  README.md
  docs/examples/advanced-configuration-example.md
Labels: documentation

chore: Use self colosing tags where possible
  projects/ngx-darkbox-gallery/src/lib/ngx-darkbox-gallery.component.html
  src/app/app.component.html
  src/app/components/configuration-editor/configuration-editor.component.html
  src/app/components/footer/footer.component.html
Labels: demo, lib

chore: Update node version to 22 in build pipeline
  .github/workflows/node.js.yml
  .github/workflows/publish-next.yml
  .github/workflows/publish.yml
  CHANGELOG.md
Labels: CI/CD, documentation

docs: Add correct pr number
  CHANGELOG.md
Labels: documentation

feat: Update angular to 20
  angular.json
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/src/lib/components/darkbox/darkbox.component.html
  projects/ngx-darkbox-gallery/src/lib/components/darkbox/darkbox.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/dot/dot.component.html
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/dot/dot.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/loading-animation.component.html
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/loading-animation.component.ts
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/svg-loader/svg-loader.component.html
  projects/ngx-darkbox-gallery/src/lib/components/loading/loading-animation/svg-loader/svg-loader.component.ts
  projects/ngx-darkbox-gallery/src/lib/ngx-darkbox-gallery.component.html
  projects/ngx-darkbox-gallery/src/lib/ngx-darkbox-gallery.component.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/configuration-editor/configuration-editor.component.html
  src/app/components/configuration-editor/configuration-editor.component.ts
  tsconfig.json
Labels: demo, lib

docs: Add correct pr number
  CHANGELOG.md
Labels: documentation

docs: Prepare for release 4.0.0
  CHANGELOG.md
Labels: documentation

chore: Update node version to 22 in build pipeline
  .github/workflows/node.js.yml
  .github/workflows/publish-next.yml
  .github/workflows/publish.yml
  CHANGELOG.md
Labels: CI/CD, documentation

docs: Simplifiy component call to selfclosing tags
  README.md
  docs/examples/advanced-configuration-example.md
Labels: documentation

chore: Use self colosing tags where possible
  projects/ngx-darkbox-gallery/src/lib/ngx-darkbox-gallery.component.html
  src/app/app.component.html
  src/app/components/configuration-editor/configuration-editor.component.html
  src/app/components/footer/footer.component.html
Labels: demo, lib

chore: Update dependencies
  src/app/components/configuration-editor/configuration-editor.component.ts
  src/main.ts
Labels: demo

feat: Update perDependencies to allow angular 20
  projects/ngx-darkbox-gallery/package.json
Labels: lib

chore: Remove unsupported angular versions
  projects/ngx-darkbox-gallery/package.json
Labels: lib

chore: Set relase version to 4.0.0
  package.json
  projects/ngx-darkbox-gallery/package-lock.json
  projects/ngx-darkbox-gallery/package.json
Labels: lib

chore: Update project package logck
  projects/ngx-darkbox-gallery/package-lock.json
Labels: lib

docs: Update minimum angular requirement
  README.md
Labels: documentation

deploy: 08e79a63b89efe5cc6a222a1f0889ec4f176e9be
  3rdpartylicenses.txt
  browser/index.html
  browser/main.js
  browser/polyfills.js
  browser/styles.css
Labels: none

fix: Regenerate package-lock
  package-lock.json
Labels: none

fix: Regenerate package-lock
  package-lock.json
Labels: none

chore: Use trusted publishers and remove publishing to gpr
  .github/workflows/npm-publish.yml
  .github/workflows/publish-next.yml
  .github/workflows/publish.yml
Labels: CI/CD

chore: Prepare for release 4.0.1
  CHANGELOG.md
  package-lock.json
  package.json
  projects/ngx-darkbox-gallery/package-lock.json
  projects/ngx-darkbox-gallery/package.json
Labels: documentation, lib

fix: Set new permissions for github_token and replace pages publishing
  .github/workflows/build-release.yml
  .github/workflows/update-release-notes.yml
Labels: CI/CD

fix: Set wirte permission for publishing
  .github/workflows/publish.yml
Labels: CI/CD

fix: Set missing permission
  .github/workflows/publish.yml
Labels: CI/CD

fix: Set correct folger for gh pages
  .github/workflows/build-release.yml
Labels: CI/CD

chore: List Repository contents as debug info
  .github/workflows/build-release.yml
Labels: CI/CD

fix: List command
  .github/workflows/build-release.yml
Labels: CI/CD

.github/labeler.yml:

CI/CD:
  - changed-files:
    - any-glob-to-any-file: .github/workflows/*
demo:
  - changed-files:
    - any-glob-to-any-file:
      - src/*
      - src/**/*
test: 
  - changed-files:
    - any-glob-to-any-file: projects/ngx-darkbox-gallery/**/*.spec.ts
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/*
      - README.md
      - CHANGELOG.md
lib:
  - changed-files:
    - any-glob-to-any-file:
      - projects/ngx-darkbox-gallery/*
      - projects/ngx-darkbox-gallery/**/*
